%p#notice= notice
.container
  %h1 Artistas Registrados

  .row
  - @artists.each do |artist|
    .col.s12.m7
      .card.horizontal.indigo.lighten-5
        .card-image
          = image_tag artist.imagen.url(:medium) 
        .card-stacked
          .card-content
            %h5.header= artist.nombre_artista
            %p= truncate(artist.semblanza, length: 240)
            %p= artist.telefono
            %p= artist.email
          .card-action
            %a= link_to 'Detalles', artist, :class => "btn white-text indigo lighten-3"
            %a= link_to 'Editar', edit_artist_path(artist), :class => "btn white-text indigo lighten-3"
            %a= link_to 'Eliminar', artist, :class => "btn white-text indigo lighten-3", method: :delete, data: { confirm: 'Estas seguro de borrar este artista?'}


.row
  .col.s12.m6.offset-m2
    = link_to 'Nuevo artista', new_artist_path, :class => "btn white-text indigo lighten-3"