!!!
%html
  %head
    %title ALTER
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.white.lighten-5
      .nav-wrapper
        %span.brand-logo.grey-text
          =image_tag "http://fundacionalter.com/images/04.png"
        %ul.right
          %li
            = link_to "Iniciar Sesion", new_user_session_path, :class => "grey-text"
          %li
            = link_to "Editar Usuario", edit_user_registration_path, :class => "grey-text"
    %p.notice
      = notice
    %p.alert
      = alert
    = yield